apiVersion: v1
kind: ServiceAccount
metadata:
  name: tailscale-webhook-sa
  namespace: network
  labels:
    account: tailscale-webhook
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tailscale-webhook
  namespace: network
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tailscale-webhook
  template:
    metadata:
      labels:
        app: tailscale-webhook
    spec:
      imagePullSecrets:
        - name: regcred
      securityContext:
        fsGroup: 1000
        runAsUser: 1000
        allowPrivilegeEscalation: false
        runAsNonRoot: true
        readonlyRootFilesystem: true
      serviceAccountName: tailscale-webhook-sa
      containers:
        - image: git.it.hm.edu:5050/zit/splunk/tailscale-webhook-to-splunk:main-29a1449f-1745988986 # {"$imagepolicy": "flux-system:net-service-policy"}
          imagePullPolicy: Always
          name: app
          env:
            - name: TS_WEBHOOK_KEY
              valueFrom:
                secretKeyRef:
                  name: webhook-settings
                  key: TS_WEBHOOK_KEY
            - name: SPL_SOURCETYPE
              valueFrom:
                secretKeyRef:
                  name: webhook-settings
                  key: SPL_SOURCETYPE
            - name: SPL_HOSTNAME
              valueFrom:
                secretKeyRef:
                  name: webhook-settings
                  key: SPL_HOST
            - name: SPL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: webhook-settings
                  key: SPL_TOKEN
            - name: FWD_HOSTNAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.hostIP
            - name: FWD_PORT
              value: "8088"
          ports:
            - containerPort: 80
              protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: tailscale-webhook
  name: tailscale-webhook-service
  namespace: network
spec:
  selector:
    app: tailscale-webhook
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 80
