---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: login-exporter
  namespace: monitoring
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: login-exporter
  template:
    metadata:
      labels:
        app: login-exporter
    spec:
      securityContext:
        fsGroup: 1000
        runAsUser: 1000
        allowPrivilegeEscalation: false
        runAsNonRoot: true
        readonlyRootFilesystem: true
      containers:
        - image: ghcr.io/hm-edu/login-exporter:v1.4.10@sha256:de7cfeebb4dc3171da0102623c4fe7e16263e911b2b11164aca260e17f606a37
          imagePullPolicy: Always
          name: app
          command: ["/app/exporter", "--log_file", "/tmp/exporter.log", "--listen_ip", "0.0.0.0"]
          ports:
            - containerPort: 9980
              protocol: TCP
          volumeMounts:
            - mountPath: /etc/prometheus/
              name: login-exporter-config
      volumes:
        - name: login-exporter-config
          configMap:
            name: login-exporter-config
            items:
              - key: login.yml
                path: login.yml        
---
apiVersion: v1
kind: Service
metadata:
  namespace: monitoring
  name: login-exporter
  labels:
    app: login-exporter
spec:
  type: ClusterIP
  ports:
    - name: exporter
      port: 9980
      targetPort: 9980
  selector:
    app: login-exporter
