---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: default
spec:
  values:
    env:
      GF_ANALYTICS_CHECK_FOR_UPDATES: false
      GF_DATABASE_NAME: grafana
      GF_DATABASE_SSL_MODE: disable
      GF_DATE_FORMATS_FULL_DATE: "MMM Do, YYYY hh:mm:ss a"
      GF_EXPLORE_ENABLED: true
      GF_LOG_FILTERS: rendering:debug
      GF_LOG_MODE: console
      GF_PANELS_DISABLE_SANITIZE_HTML: true
      GF_PATHS_DATA: /var/lib/grafana/data
      GF_PATHS_LOGS: /var/log/grafana
      GF_PATHS_PLUGINS: /var/lib/grafana/plugins
      GF_PATHS_PROVISIONING: /etc/grafana/provisioning
      GF_SERVER_DOMAIN: "stats.it.hm.edu"
      GF_SERVER_HTTPS: true
      GF_SERVER_ROOT_URL: "https://stats.it.hm.edu"
      GF_SECURITY_ALLOW_EMBEDDING: true
      GF_SECURTIY_COOKIE_SECURE: false
      GF_SECURITY_COOKIE_SAMESITE: disabled
