---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: grafana
      version: 10.5.14
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    image:
      repository: grafana/grafana
      tag: "12.3"
    envFromSecrets:
      - name: grafana
    env:
      GF_DATABASE_HOST: postgres.portal.svc.cluster.local:5432
      GF_DATABASE_TYPE: postgres
    replicas: 1
    rbac:
      pspEnabled: false
    admin:
      existingSecret: grafana-admin
    imageRenderer: 
      enabled: true
    grafana.ini:
        feature_toggles:
          # Git Sync for Dashboards
          provisioning: true
          kubernetesClientDashboardsFolders: true
          kubernetesDashboards: true
          # Blazing-fast Table Panel
          tableNextGen: true
        unified_alerting:
          enabled: true
          ha_peers: grafana-headless:9094
          ha_listen_address: ${POD_IP}:9094
          ha_advertise_address: ${POD_IP}:9094
        unified_alerting.screenshots:
          capture: false
          upload_external_image_storage: false
        external_image_storage:
          provider: local
    headlessService: true
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: flux
            orgId: 1
            folder: Flux
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/flux
          - name: netapp
            orgId: 1
            folder: Netapp
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/netapp
          - name: thanos
            orgId: 1
            folder: Thanos
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/thanos
          - name: "default"
            orgId: 1
            folder: ""
            type: file
            disableDeletion: true
            editable: false
            options:
              path: /var/lib/grafana/dashboards/default
    datasources:
      datasources.yaml:
        apiVersion: 1
        deleteDatasources:
          - name: Loki
            orgId: 1
        datasources:
          - name: Alertmanager
            type: alertmanager
            access: proxy
            url: http://alertmanager.monitoring.svc.cluster.local:9093
            jsonData:
              implementation: prometheus
              handleGrafanaManagedAlerts: true
          - name: Prometheus
            type: prometheus
            access: proxy
            url: http://thanos-query-frontend.monitoring.svc.cluster.local:9090
            isDefault: true
            jsonData:
              prometheusType: Thanos
              customQueryParameters: max_source_resolution=auto
    sidecar:
      dashboards:
        enabled: true
        searchNamespace: ALL
        # folderAnnotation: grafana_folder
        # provider:
        #   foldersFromFilesStructure: true
      datasources:
        enabled: true
        searchNamespace: ALL
    plugins:
      - natel-discrete-panel
      - pr0ps-trackmap-panel
      - grafana-piechart-panel
      - vonage-status-panel
      - grafana-worldmap-panel
      - grafana-clock-panel
      - grafana-opensearch-datasource
      - esnet-matrix-panel
      - marcusolsson-static-datasource
      - yesoreyeram-infinity-datasource
    serviceMonitor:
      enabled: true
    serviceAccount:
      create: true
      autoMount: true
    persistence:
      enabled: false
