---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: alertmanager-hookshot-adapter
  namespace: monitoring
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: alertmanager-hookshot-adapter
  template:
    metadata:
      labels:
        app: alertmanager-hookshot-adapter
    spec:
      securityContext:
        fsGroup: 1000
        runAsUser: 1000
        allowPrivilegeEscalation: false
        runAsNonRoot: true
        readonlyRootFilesystem: true
      containers:
        - image: ghcr.io/hm-edu/alertmanager-hookshot-adapter:v1.10.0@sha256:de8f1e2ba4fb020af08016509720c451bb2545e2c731fd3c1b8ef9aad23a97a7
          imagePullPolicy: Always
          name: app
          ports:
            - containerPort: 3000
              protocol: TCP
          env:
            - name: GRAFANA_URL
              value: "https://stats.it.hm.edu/alerting/silence/new?alertmanager=Alertmanager&"
            - name: UPSTREAM
              value: "https://hooks.matrix.hm.edu" 
          resources:
            limits:
              cpu: "2"
              memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  namespace: monitoring
  name: alertmanager-hookshot-adapter
  labels:
    app: alertmanager-hookshot-adapter
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 3000
      targetPort: 3000
  selector:
    app: alertmanager-hookshot-adapter
